.logo-site { /* Esta propriedade é para o logo do site, o controle de videogame. */
    width: 50%;
    height: auto;
    margin-top: -2%;
    margin-left: 1%;
}

nav > ul {
    list-style: none;
}

.layout-index header {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-top: -17%;
    margin-left: -2%;
}

.layout-index h1 {
    margin-left: -8%;
    margin-top: 1px;
    border-radius: 49px;
    border: 2px solid black;
    padding: 10px;
}

.rodape-index {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    background-color: lightgray;
    margin-top: 8%;
    width: 58%;
    margin-left: 40%;
    border-radius: 10px;
    border: 2px solid black;
}

.rodape-index a {
    margin-right: 2%;
}

.rodape-index img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    margin-left: 30%;
}

.introducao {
    margin-left: 34%;
    margin-top: -18%;
    width: 64%;
    text-align: center;
}

.introducao main p{
    margin-top: -1%;
    border: 2px solid black;
}

.iniciar-jogo {
    display: flex;
    justify-content: center;
    width: 45%;
    padding-bottom: 3%;
    margin-top: 12%;
}

.iniciar-jogo button{
    margin-top: 8%;
    border-radius: 10px;
    width: 60%;
    font-size: 40px;
    background-color: white;
}

.iniciar-jogo button:hover{
    color: white;
    background-color: black;
}

.iniciar-jogo button.ativo{ /*.ativo é uma classe que será uma classe que será manipulada pela função iniciarJogo(). */
    background-color: aqua;
}
